body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.header{
    display: flex;
    align-items: center;
    background-color: #ef7c9540;
}
.header div{
    padding: 20px 119px;
    align-items: center;

}

.header-title{
    font-size: 50px ;
    font-weight: 700;
}
.img{
    width: 635px;
    height: 600px;
}
.btn{
    padding: 10px;
    width: 102px;
    height: 46px;
    background-color: rgba(182, 8, 66, 0.963);
    color: white;
    border-radius: 11px;
   
}
.featured-title{
    padding-left: 540px;
    }
    .featured-para{
        padding-left: 340px;
    }
    .featured-picture{
        display: flex;
        gap: 82px;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
        
    }
    .featured-name{
        display: flex;
        gap: 220px;
        padding-left: 134px ;
    }
    
    .pink{
       
        border: 2px solid red;
        border-top-left-radius: 140px;
        border-top-right-radius: 140px;
    background-color: rgb(238, 184, 184);
    
    }
    .red{
        
        border: 2px solid red;
        border-top-left-radius: 140px;
        border-top-right-radius: 140px;
    background-color: rgb(213, 191, 234);
    }
    .maroon{
        border: 2px solid red;
        border-top-left-radius: 140px;
        border-top-right-radius: 140px;
    background-color: rgb(170, 233, 180);
    
    }

section .delivery-section{
    max-width: 1440px;
    /* max-height: 320px; */
    max-height: 92%;
   
}
.delivery{
   
    display: flex;
    justify-content: space-around;
    background-color: rgba(237, 230, 216, 0.851);
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 10px;
}
.click-img-1{
   padding-left: 38px;
}
.click-img-2{
    padding-left: 38px;
}
.hot-deal{
    max-height: 50%;
}
.hot-deal-1{
    padding-top: 30px;
    padding-left: 300px;
}

.hot-deal-pic{
    padding-left: 200px;
    width: 170px;
    height: 200px;
    
    }
    .off{
        color: rgba(182, 8, 66, 0.963);
    }
.deal-title{
    font-size: 55px;
    }
    .hot-deal-1 {
        display:flex;
        background-color: #eea7b640;
        margin-top: 30px;
    }
    
    
    .deal-para{
        margin-left: 30px;
        font-size: smaller;
        align-items: center;
    }
    #sing-up-button{
       padding: 0px;
       margin-left: 320px;
        align-items: center;
        
    }
