body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.header{
    display: flex;
    align-items: center;
    background-color: #ef7c9540;
}
.header div{
    padding: 20px 119px;
    align-items: center;

}

.header-title{
    font-size: 50px ;
    font-weight: 700;
}
.img{
    width: 635px;
    height: 600px;
}
.btn{
    padding: 10px;
    width: 102px;
    height: 46px;
    background-color: rgba(182, 8, 66, 0.963);
    color: white;
    border-radius: 11px;
   
}
section .delivery-section{
    max-width: 1440px;
    max-height: 320px;
   
}
.delivery{
   
    display: flex;
    justify-content: space-around;
    background-color: rgba(237, 230, 216, 0.851);
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 10px;
}
.click-img-1{
   padding-left: 38px;
}
.click-img-2{
    padding-left: 38px;
}